language: scala
sudo: false
cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/launchers
before_cache:
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
- find $HOME/.ivy2/cache -name "*SNAPSHOT*" | xargs rm -rf
matrix:
  include:
  - env: SBT_VERSION="0.13.16"
    jdk: oraclejdk7
  - env: SBT_VERSION="1.0.4"
    jdk: oraclejdk8
script:
- sbt "^^ ${SBT_VERSION}" test
